
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #EEEAD7;
    color: #2b1a10;
    font-family: "PT Serif Caption", serif;
    line-height: 1.6;
    
}


.fejlec{
    background-color:  #6D0808;
    text-align: center;
    color: #fffaf3;
    padding: 30px 15px 25px 15px;
    
}

.fejlec h1{
    margin: 0;
    font-size: 28px;
}

.fejlec h2{
    margin:  5px 0 25px 0;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.9;
}

nav .menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

nav a {
    display: inline-block;
    background-color: #EEEAD7;
    color: #6D0808;
    text-decoration: none;
    font-weight: bold;
    border-radius: 7%;
}

nav a:hover {
    background-color: #6D0808;
    color: #fffaf3;
    border-color: #fffaf3;
}

img{
    max-width: 100%;
    display: block;
}

.szakasz {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.cimke-tarto {
    text-align: center;
    margin-bottom: 30px;
}

.cimke {
    display: inline-block;
    background-color: #6D0808;
    color: #FFFAF3;
    font-size: 18px;
    margin: 0;
    padding: 12px 35px;
    border-radius: 10px;
    border: 2px solid #4A0606;
}

.bemutatkozas-tartalom {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.bemutatkozas-tartalom p {
    flex: 1 1 55%;
    max-width: 650px;
    margin: 0;
}

.bemutatkozas-kep{
    flex: 1 1 40%;
    max-width: 380px;
    border-radius: 16px;
    border: 3px solid #4a0606;
}


.keszsegek-racs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 720px;
    margin: 0 auto;
}

.keszseg-kartya {
    height: 140px;
    background-color: #6D0808;
    color: #FFFAF3;
    border-radius: 16px;
    border: 2px solid #4A0606;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-family: "Alata", sans-serif;
    transition: 0.2s;
}

.keszseg-kartya:hover {
    background-color: #4A0606;
    transform: translateY(-4px);
}